<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <display-name>JavaLogin</display-name>
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <description></description>
        <display-name>LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>elmachine.login.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>LogoutServlet</display-name>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>elmachine.login.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
	 <display-name>RegistrationMvc</display-name>
	 <welcome-file-list>
	 <welcome-file>Register.jsp</welcome-file>
	 </welcome-file-list>
	 <servlet>
	 <description></description>
	 <display-name>RegisterServlet</display-name>
	 <servlet-name>RegisterServlet</servlet-name>
	 <servlet-class>elmachine.register.controller.RegisterServlet</servlet-class>
	 </servlet>
	 <servlet-mapping>
	 <servlet-name>RegisterServlet</servlet-name>
	 <url-pattern>/RegisterServlet</url-pattern>
	 </servlet-mapping>
<servlet>
	 <description></description>
	 <display-name>updateUser</display-name>
	 <servlet-name>updateUser</servlet-name>
	 <servlet-class>elmachine.edituser.UpdateUser</servlet-class>
	 </servlet>
	 <servlet-mapping>
	 <servlet-name>updateUser</servlet-name>
	 <url-pattern>/updateUser</url-pattern>
	 </servlet-mapping>
		<servlet>
	 <description></description>
	 <display-name>EditUserForm</display-name>
	 <servlet-name>EditUserForm</servlet-name>
	 <servlet-class>elmachine.edituser.EditUserForm</servlet-class>
	 </servlet>
	 <servlet-mapping>
	 <servlet-name>EditUserForm</servlet-name>
	 <url-pattern>/EditUserForm</url-pattern>
	 </servlet-mapping>
		<servlet>
	 <description></description>
	 <display-name>ShowUserServlet</display-name>
	 <servlet-name>ShowUserServlet</servlet-name>
	 <servlet-class>elmachine.edituser.ShowUserServlet</servlet-class>
	 </servlet>
	 <servlet-mapping>
	 <servlet-name>ShowUserServlet</servlet-name>
	 <url-pattern>/ShowUser</url-pattern>
	 </servlet-mapping>
		<servlet>
	 <description></description>
	 <display-name>EditUserServlet</display-name>
	 <servlet-name>EditUserServlet</servlet-name>
	 <servlet-class>elmachine.edituser.EditUserServlet</servlet-class>
	 </servlet>
	 <servlet-mapping>
	 <servlet-name>EditUserServlet</servlet-name>
	 <url-pattern>/EditUser</url-pattern>
	 </servlet-mapping>
	<servlet>
	 <description></description>
	 <display-name>DeleteUser</display-name>
	 <servlet-name>DeleteUser</servlet-name>
	 <servlet-class>elmachine.edituser.DeleteUser</servlet-class>
	 </servlet>
	 <servlet-mapping>
	 <servlet-name>DeleteUser</servlet-name>
	 <url-pattern>/DeleteUser</url-pattern>
	 </servlet-mapping>
	<servlet>
	 <description></description>
	 <display-name>AddUserServlet</display-name>
	 <servlet-name>AddUserServlet</servlet-name>
	 <servlet-class>elmachine.adduser.AddUserServlet</servlet-class>
	 </servlet>
	 <servlet-mapping>
	 <servlet-name>AddUserServlet</servlet-name>
	 <url-pattern>/AddUserServlet</url-pattern>
	 </servlet-mapping>

</web-app>